* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #f6f5ef;
}

body {
  margin: 0;
}

@font-face {
  font-family: reckless;
  src: url(assets/RecklessCollectionVF-TRIAL.woff2);
}

.logo,
.topnav {
  font-family: "neue-haas-grotesk-display", sans-serif;
}

.topnav {
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  font-weight: 500;
  font-size: 17px;
}

.topnav-left,
.topnav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topnav-right {
  justify-content: flex-end;
}

.topnav a {
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 12px 14px;
  border-radius: 10px;
}

.topnav a:hover {
  background-color: #2c5dab;
  color: white;
}

.topnav a.active {
  background-color: transparent;
  color: black;
}

.topnav a.active:hover {
  background-color: #2c5dab;
  color: white;
}

.logo {
  margin: 0;
  font-weight: 600;
  color: #2c5dab;
  text-align: center;
  font-size: 22pt;
  letter-spacing: -0.00005em;
  line-height: 1;
  margin-top: 5px;
}

.intro-text {
  font-family: reckless;
  font-weight: 400;
  color: black;
  text-align: center;
  font-size: 12pt;
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}

.poster {
  width: 600px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}

.footnote {
  width: 100%;
  height: 200px;
  background-color: #2c5dab;
  color: white;
  text-align: center;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;
  padding: 14px 0;
  margin-top: 120px;
}

.footnote-logo {
    width: 30px;
    height: auto;
    margin-top: 31px;
}

/* .btn1, .btn2, .btn3 {
    border-radius: 10px;
    background-color: white;
    color: #2c5dab;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
} */